.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    height: 700px;
    background-color: rgba(0,0,0,0.5);
}

.caja-1{
    
    flex: 900px 1 1;
    font-size: 85px;
    color: white;
    background-color: blue;
}

.caja-2{
    flex: 900px 2 2;
    font-size: 85px;
    color: white;   
    background-color: red;
}

.caja-3{
    flex: 900px 1 1;
    font-size: 85px;
    color: white;   
    background-color: yellow;
}

.caja-4{
    width: 450px;
    height: 80px;
    font-size: 85px;
    color: white;   
    background-color: green;
}

.caja-5{
    width: 450px;
    height: 80px;
    font-size: 85px;
    color: white;   
    background-color: purple;
}

.caja-6{
    width: 450px;
    height: 80px;
    font-size: 85px;
    color: white;   
    background-color: orange;
}